[submodule "backend"]
	path = backend
	url = git@github.com:Share-Idle-Items/Backend.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = git@github.com:Share-Idle-Items/Frontend.git
	branch = master
